.gradient-custom {
	/* fallback for old browsers */
	background: rgb(235, 184, 57);
	background: linear-gradient(
		105deg,
		rgba(235, 184, 57, 1) 0%,
		rgba(249, 112, 58, 1) 100%
	);
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
	font-size: 1rem;
	line-height: 2.15;
	padding-left: 0.75em;
	padding-right: 0.75em;
}
.card-registration .select-arrow {
	top: 13px;
}
.button {
	background: rgb(235, 184, 57);
	background: linear-gradient(
		105deg,
		rgba(235, 184, 57, 1) 0%,
		rgba(249, 112, 58, 1) 100%
	);
	border: solid transparent;
	width: 200px;
	margin: auto;
}
